AI_MOCK="true"
ALLOWED_ORIGINS="https://volley-iq.vercel.app"
DATABASE_URL="./volleyiq.db"
DEV_AUTH_BYPASS="false"
NODE_ENV="development"
VITE_FIREBASE_API_KEY="AIzaSyCHWwwj0x1CSPvbHP2R5Jsqfv2cupp6izM"
VITE_FIREBASE_APP_ID="1:876066694494:d64755ee0239cd8efdbcf"
VITE_FIREBASE_AUTH_DOMAIN="volleyiq-a35c1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="volleyiq-a35c1"
VITE_USE_DEV_AUTH="false"
VITE_API_URL="https://volleyiq-production.up.railway.app"
